*{
  /*border: 1px solid red !important;*/
}

.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}

.d-container{
  display: flex;
  justify-content: center;
  margin-left: 600px;
}

.button-container{
  border: 1px solid red;
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.diamond {
	width: 0;
	height: 0;
	border: 200px solid transparent;
	border-bottom-color: red;
	position: relative;
	top: -200px;
}
.diamond:after {
	content: '';
	position: absolute;
	left: -200px;
	top: 200px;
	width: 0px;
	height: 0;
	border: 200px solid transparent;
	border-top-color: red;
}

/*Colors*/
#d1{border-bottom-color: #F9BC96;}
#d1:after{border-top-color: #F9BC96;}
#d2{
  border-bottom-color: #F9D496;
  left: -200px;
}
#d2:after{border-top-color: #F9D496;}
#d3{
  border-bottom-color: #F9E496;
  left: -400px;
}
#d3:after{border-top-color: #F9E496;}
#d4{
  border-bottom-color: #FFF1CC;
  left: -600px;
}
#d4:after{border-top-color: #FFF1CC;}
