*{
  /*border: 1px solid red !important;*/
  font-family: 'Scope One', serif;
}

body, html{width: 100% !important;}
.header{
  display: flex;
  justify-content: center;
}

.main{
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*border: 1px solid red;*/
}

.d-container{
  display: flex;
  justify-content: center;
  margin-left: 600px;
}

.button-container{
  margin-top: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.diamond {
	width: 0;
	height: 0;
	border: 200px solid transparent;
	border-bottom-color: red;
	position: relative;
	top: -200px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

p{
  margin-top: 400px;
  z-index: 2;
}
.diamond:after {
	content: "";
	position: absolute;
	left: -200px;
	top: 200px;
	width: 0px;
	border: 200px solid transparent;
	border-top-color: red;
}

/*Colors*/
#d1{border-bottom-color: #F9BC96;}
#d1:after{border-top-color: #F9BC96;}
#d2{
  border-bottom-color: #F9D496;
  left: -200px;
}
#d2:after{border-top-color: #F9D496;}
#d3{
  border-bottom-color: #F9E496;
  left: -400px;
}
#d3:after{border-top-color: #F9E496;}
#d4{
  border-bottom-color: #FFF1CC;
  left: -600px;
  display: flex;
  justify-content: center;
}
#d4:after{border-top-color: #FFF1CC;}

#quote-text{
  margin-top: 450px;
  min-width: 200px;
  text-align: center;

}

.author{
  align-self: flex-end;
  margin-right: 490px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 300px;
  background-color: #F9CC96;
}

.tweet{
  font-size: 100px;
  opacity: .7;
}

.quote-button{
  font-size: 100px;
  margin-left: 100px;
  color: #6F76BC;
}

.tweet > a, .tweet > a:visited{
  color: dodgerblue;
}

.quote-button:hover{
  cursor: pointer;
}

#randQuote{
  z-index: 50;
}
